<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>
	  {{page.title}} |
	  LeBicycle 
	  {% if page.index != true %}
  	  &rArr; comment faire du vélo
  	{% endif %}
	</title>
  <link href="css/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/grid.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/typography.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
</head>
<body>
  <div class="container showgrid2">
    <img src="images/logo.png" class="span-3" />
    <h1 class="loud last"><a href="/">LeBicycle</a> <span class="small">&rArr; {{page.title}}</span></h1>
    <span class="loud span-8">Guide pour faire du vélo ton style de vie</span>
    <span class="prepend-10 small"><a href="apropos.html">à propos du site &rarr;</a></span>
    <hr />
    <span id="content" class="span-16 border">
      {{content}}      
      <hr class="space" />
      {% if  page.hideComments != true %}
        <div id="comment">
          <!-- customize labels of htmlcommentbox.com -->
          <script>
          // This code goes ABOVE the main HTML Comment Box code!
          // replace the text in the single quotes below to customize labels.
          hcb_user = {
            comments_header : 'Commentaires',
            name_label : 'Nom',
            content_label: 'ton commentaire',
            submit : 'envoyer',
            logout_link : '[déconnexion]',
            admin_link : '[admin]',
            no_comments_msg: '<p>Sois le premier à commenter</p>',
            add: '(+) Ajoute ton commentaire',
            rss: '',
            said: 'a écrit :',
            prev_page:'&lt; précédente',
            next_page:'suivante &gt;',
            showing:'affiche',
            to:'à',
            website_label:'',
            email_label:'courriel',
            anonymous:'Anonyme',
            
            msg_thankyou:'Merci de ton commentaire!',
            msg_approval:'(this comment is not published until you approve it)',
            msg_approval_required:'(Your comment will not be visible until approved by the moderator)',
            
            err_bad_html:'Ton commentaire contient du HTML non-conforme.',
            err_bad_email:'SVP entre un courriel valide.',
            err_too_frequent:'Tu dois attendre un peu avant un autre commentaire.',
            err_comment_empty:'Ton commentaire est vide!',
            
            MAX_CHARS: 2048
          };
          </script>
           <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
           <script type="text/javascript" language="javascript" id="hcb"> /*<!--*/ (function(){s=document.createElement("script");s.setAttribute("type","text/javascript");s.setAttribute("src", "http://www.htmlcommentbox.com/jread?page="+escape(""+window.location).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24k3diGzY/vo.L132xjto7r0"+"&opts=94&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
          <!-- done customizing labels of htmlcommentbox.com -->
        </div>
      {% endif %}
    </span>
    <span id="links" class="span-7 last">
      Ce site est supporté par moi-même. Si il vous est utile, n'hésitez
      pas à me faire un don.
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="2VS35BD6F2Q4G">
        <input type="image" src="https://www.paypal.com/fr_XC/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      <h2>Liens</h2>
      <ul class="quiet">
        <li>
          <a href="http://www.kenkifer.com/bikepages/index.htm" target="_blank">Ken Kiefer's Bike Page</a>
          : une inspiration pour ce site
        </li>
        <li>
          <a href="http://www.azanka.ca" target="_blank">Azanka</a>
          : ma compagnie
        </li>
        <li>
          <a href="http://www.velocia.ca/" target="_blank">Velocia</a>
          : forum francophone des passionnés du vélo
        </li>
        <li>
          <a href="http://blogues.cyberpresse.ca/velo/" target="_blank">
            Le Québec à Vélo
          </a>
          : excellent blogue sur vélo
        </li>
        <li>
          <a href="http://www.geccoe.com/" target="_blank">Geccoe</a>
          : recettes végétariennes pour une meilleur alimentation
        </li>
      </ul>
    </span>
    <hr class="prepend-top" />
    <span id="footer" class="small quiet span-24">
      <a href="mailto:dsimard@azanka.ca">dsimard@azanka.ca</a>
      | <a href="http://translate.google.com/translate?hl=en&sl=fr&tl=en&u=http://lebicycle.com/" target="_blank">english version</a>
      | <a href="http://github.com/dsimard/bicycle" target="_blank">code du site disponible sur GitHub</a>
      | <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/"><img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/88x31.png" align="absmiddle" /></a>
    </span>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3845762-28']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
