<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{page.title}} &raquo; comment faire du vélo</title>
  <link href="css/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/grid.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/typography.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
</head>
<body>
  <div class="container">
    <h1 class="loud"><a href="index.html">Bicycle</a> <span class="small">&raquo; {{page.title}}</span></h1>
    <span class="loud prepend-10 span-24">Guide pour faire du vélo votre style de vie</span>
    <hr />
    <div id="content" class="span-15 border">
      {{content}}
    </div>
    <div id="menu" class="prepend-1 span-7">
      <h2>Liens</h2>
      <ul>
        <li><a href="http://www.kenkifer.com/bikepages/index.htm" target="_blank">Ken Kiefer's Bike Page</a></li>
        <li><a href="http://www.azanka.ca" target="_blank">Azanka</a></li>
      </ul>
    </div>
    <hr />
    <div id="footer" class="small quiet">
      <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/"><img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/88x31.png" /></a><br />Cette <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">création</span> par <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Daniel Simard</span> est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/">licence Creative Commons Paternité - Pas de Modification 3.0 Unported</a>.
    </div>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3845762-27']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
